body{
  background-color: #fafafa;
}
.container{
  background-color: #fafafa;
  margin: auto;
  padding: 30px;
  max-width: 970px;
}
p{
  padding: 15px;
}
.loginDetails{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-top: 12px;
    max-width: 350px;
}
.loginDetails input{
  width: 275px;
  padding: 13px;
  margin: 2px;
  color: #262626;
  background: #fafafa;
  border: 1px solid #efefef;
  border-radius: 3px;
}

#fblink, #next{
  background: #3897f0;
  border-color: #3897f0;
  color: #fff;
  width: 80%;
  font-size: 14px;
}
.sup{
  color: gray;
  margin: 10px 60px;
}
.login{
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 12px;
  max-width: 350px;
}
.login p{
  display: inline-block;
  margin: 5px;
}
.app{
  margin: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: center;
  max-width: 350px;

}

#instaphone{
  max-height: 650px;
  margin-top: 50px;
}

#aStore, #gStore{
  width: 100px;
  display: inline-block;
}
.footer{
  text-align: center;
  background-color: #fafafa;
}
.footer li{
  display: inline-block;
  font-family: sans-serif;
  padding: 5px;
  font-size: 11px;
}
#footlist{
  display: inline-block;
}
@media (max-width: 990px){
  #instaphone{
    display: none;
  }
  .loginDetails{
    width: 100%;
    float: none;
    margin: auto;
    }
  .login{
    width: 100%;
    float: none;
    margin: auto;
    }
    .app{
    width: 100%;
    float: none;
    margin: auto;
    }
}
